/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* Footer Styling */
.links-wrapper:hover {
  cursor: pointer;
}
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
  padding: 0 5px;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f077"; /* Up chevron */
    opacity: 1;
    padding-left: 10px;
    position: absolute;
    right: 25px;
    transition: opacity 3s ease;
  }

  .footer-links-wrapper h3.rotate:after {
    content: "\f078"; /* Down chevron */
    opacity: 1;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}

/* Main section styles */
li {
  list-style: none;
}

.macbook-pro {
  background-color: #fbfbfd;
  margin-top: 53px;
}
.main-content-wraper {
  text-align: center;
}

.main-content-wraper .product-model {
  font-size: 17px;
  padding-top: 15px;
}
.main-content-wraper .product-title {
  font-size: 56px;
  font-weight: 700;
}
.main-content-wraper .product-desc {
  font-size: 40px;
}
.main-content-wraper ul li {
  display: inline-block;
  padding: 15px;
}
.main-content-wraper ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #0066cc;
  transition: color 0.3s;
}
.main-content-wraper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 15px;
  display: inline-block; /* the chevron is inline so to anmiate or transform it shoulb be block or inline-block*/
  transition: transform 0.3s;
}

.main-content-wraper ul li a:hover {
  color: black;
}

.main-content-wraper ul li a:hover:after {
  transform: translateX(3px);
}

@media (max-width: 768px) {
  .main-content-wraper .product-model {
    font-size: 14px;
  }
  .main-content-wraper .product-title {
    font-size: 36px;
  }
  .main-content-wraper .product-desc {
    font-size: 24px;
  }
  .main-content-wraper ul li a {
    font-size: 16px;
  }
}

/* iphone-11-pro styles */
.iphone-11-pro {
  color: white;
  height: 680px;
  padding: 65px 20px;
  background: url(../images/home/iphone11-pro-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.iphone-11-pro .product-desc {
  font-size: 26px;
  padding: 10px;
}

.product-desc-small-gray {
  color: #86868b;
}
.bg-black {
  background-color: black;
}
.bg-black .main-content-wraper ul li a:hover {
  color: white;
}

/* iphone 11 pro style end */

/* iphone 11 style */
.iphone-11 {
  height: 680px;
  padding: 65px 20px;
  background: url(../images/home/iphone11-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* iphone 11 style end*/

/* product grid display styles */

.products-wraper .product-title {
  font-size: 45px;
  font-weight: 700;
}
.products-wraper .product-desc {
  font-size: 20px;
  /* min-width: 302px; */
  /* max-width: 430px; */
  padding: 15px;
  margin: 0 auto;
}

.products-wraper {
  /* display: flex;
  justify-content: center;
  gap: 13.5px;
  margin: 14px 0; */
  text-align: center;
}

.products-wraper .main-content-wraper {
  width: 48vw;
  height: 680px;
  padding: 25px;
}

/* .products-wraper .main-content-wraper:first-child {
  margin-top: 54px;
} */

.watch {
  background-image: url(../images/home/watch-series-5.jpg);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
}
.apple-card {
  background-image: url(../images/home/apple-card.jpg);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
}

.tv {
  background-image: url(../images/home/apple-tv-background.jpg);
  background-color: #fafafa;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.servant {
  padding: 180px 0 200px;
}
.servant img {
  max-width: 450px;
  width: 100%;
}
.tv .main-content-wraper li {
  margin-top: 100px;
}
.tv ul li a {
  font-size: 17px;
}
.tv ul li a:after {
  content: "\f144";
  transition: all 0.3s;
}

.tv ul li a:hover:after {
  transform: scale(1.1);
  color: #f70000;
}

.airposds-pro {
  color: white;
  background-image: url(../images/home/air-pods.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: bottom;
}
.mac {
  background-color: #fafafa;
  background-image: url(../images/home/macbook-pro.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: initial;
}
.ipad {
  background-image: url(../images/home/new-ipad.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #fafafa;
}

@media screen and (max-width: 768px) {
  .products-wraper {
    display: block;
  }
  .products-wraper .main-content-wraper {
    width: 100%;
  }
  .products-wraper .main-content-wraper:first-child {
    margin-top: 0;
  }
  .products-wraper .product-desc {
    padding: 0;
  }
}
/* product grid display styles end */
